html,
body {
    margin: 0;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#grid-container {
    display: grid;
    height: 72vh;
    margin: 5px;
    resize:both;
    overflow:auto;

    grid-template: 20% 80% / 21% 79%;
    
    background-color: lightgray;
}

#sidebar {
    grid-row: 1/3;
    background-color: rgb(71 143 208);

    display:grid;
}

#sidebar


#header {
    background-color: rgb(255 255 255);
}

#main-content {
    background-color: rgb(227 232 239);
}
